<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <tile>Hello world....I'm Dinh Thanh Dat</tile>
    </head>
    <body>
        <h4>{{.}}</h4>
        <a href="https://github.com/ThanhDat-debug" target="_blank" style="text-shadow: none;">
            <div style="margin-top: 20px; padding: 12px; border: 1px solid #ccc; border-radius: 8px; background-color: #f0f0f0; width: fit-content;">
                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" width="24" style="vertical-align: middle; margin-right: 10px;">
                <span style="font-size: 16px; color: #46bff7;">ThanhDat-Debug</span>
            </div>
        </a> 
    </body>
</html>
